.funnelview {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90%;
    justify-content: space-around;
    width: 100%;
}

#funnelOptionsJson {
    min-height: 100px;
}
  